h1{
    font-size: 10vw;
    font-size: 10vh;
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    font-stretch: expanded;
}
p{
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
}